<ion-view view-title="Login" class="background flipInX">
  <ion-content>
    <ion-header-bar class="bar-royal">
      <h1 class="title">Connexion Spotify</h1>
    </ion-header-bar></br></br></br></br>
    <label class="item item-input">
      <span class="input-label">Email</span>
      <input type="email" ng-model="loginmail">
    </label></br></br>

    <center>
      <img class="animated rubberBand" src="img/Log_in_with_Spotify/png/log_in-mobile.png" ng-click="login(loginmail)"/>
    </center>
  </ion-content>
</ion-view>
