<!-- views/connexion_spotify_mobile.ejs -->
<!doctype html>
<html>
<head>
  <title>Connexion Spotify _ Mobile</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <style>
  body 		{ padding-top:80px; word-wrap:break-word; }
  #map-canvas {
    width: 100%;
    height: 300px;
    margin-bottom: 15px;
    border: 2px solid #fff;
  }
  </style>
</head>
<script src="https://code.jquery.com/jquery-2.2.2.js"   integrity="sha256-4/zUCqiq0kqxhZIyp4G0Gk+AOtCJsY1TA00k5ClsZYE="   crossorigin="anonymous"></script>
<body></br></br>
  Vous êtes connecté! </br></br>
  Fermez la fenêtre pour retourner dans l'application "Wipesound".

  <!-- <script src="/app/profile.js" charset="utf-8"></script> -->
</body>
</html>
